.gallery {
  flex: 1 1 45%;
  text-align: center;
}

.gallery-main {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

.gallery-thumbs {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.thumb {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}

.thumb.active,
.thumb:hover {
  opacity: 1;
  border: 2px solid #c53030;
}
@media (max-width: 768px) {
  .product-gallery {
    flex-direction: column;
    align-items: center;
  }

  .details, .gallery {
    flex: 1 1 100%;
  }

  .gallery-main {
    max-width: 100%;
  }
}
@media (max-width: 400px) {
  .gallery-thumbs {
    gap: 5px;
  }

  .thumb {
    width: 50px;
    height: 50px;
  }
}
