body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

/* This is about Nav bar Div */

.navbar {
    max-width: 100%;
    height: 75px;
    margin: 0px;
    background-color: #573320;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* This is about logo Div */
.nav-logo {
    margin-left: 20px;
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    align-items: center;
    gap: 30px;
    text-decoration: none;
    display: flex;
}

.nav-logo img {
    padding: 0px;
    height: 60px;
    width: 60px;
    border-radius: 10px;
}
/* This is about logo Div End */


.nav-links {
    display: flex;
    gap: 10px;
    font-weight: 700;
    list-style: none;
    align-items: center;
    text-decoration: none;
}

.nav-links a {   /* Changeed the .nav-links li to .nav-links a as Links use in Navbar.jsx is same as <a> tag in HTML*/
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    
}
/* This is for Nav-links hr tag */

.nav-links hr {
    border: none;
    height: 3px;
    width: 80%;
    background-color: #e2501b;
    border-radius: 10px;
    
}



/* This is for Nav-links hover effect Popup fetures
.nav-links li:hover {
      font-size: large;
      transition: font-size 0.2s ease;
      cursor: pointer;
      
  
} */




/*  NO NEED TO ADD HOVER EFFECT FOR NAVBAR LINKS
.nav-links li:hover {
    color: #573320;
    transition: color 0.3s ease;
    cursor: pointer;
    background-color: #f1e8dd;
    padding: 8px 16px;
    border-radius: 5px; 
} */
/* This is about nav-links Div End*/


/* This is about login Div */
.nav-login {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 10px;

}
.nav-login button {
    padding: 8px 16px;
    background-color: #f1e8dd;
    border: 2px solid #573320;
    border-radius: 5px;
    color: #573320;
    font-weight: bold;
    cursor: pointer;
}

.nav-login button:hover {
    border: 2px solid #f1e8dd;
    
}
.nav-login button:active {
    border: 2px solid #f1e8dd;
    color:#f1e8dd;
    background-color: #573320;
}


.nav-login img {
    height: 40px;
    width: 40px;
}

.cart {
    display: flex;
    align-items: center;
    position: relative;


}
.cart-count {
    position: relative;
    top: -10px;
    left: -7px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

/* This is about login Div End*/
