.hero{
    height: 60vh;
    background:linear-gradient(180deg,#f1e8dd,#e1ffea22 60%);
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
}
.hero-left{
    flex:1;
    max-width: 50%;
    display: block;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-left:80px ;
    
}
.hero-left h2{
    color: #090909;
    font-size: 30px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 40px;
    font-weight: 500;
}
.hero-left-btn{
    justify-content: center;
    align-items: center;
   
    width: 300px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #3c3434;
    color: white;
    font-size: 18px;
    font-weight: 500;
}
.hero-right{
    display: flex;
    max-width: 50%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}
.hero-right img{

    height: 500px;
    width: auto;
    object-fit: cover;
    margin-right: 50px;
}

@media (max-width: 768px) {
    .hero {
        height: 40vh;
    }
    .hero-left{
        padding-left: 40px;
    }
    .hero-left h2 {
        font-size: 20px;
        font-weight: 600;
    }
    .hero-left p {
        font-size: 25px;
        font-weight: 400;
    }
    .hero-left-btn {
    width: 150px;
    height: 40px;
    font-size: 16px;
    }
    .hero-right img {
        height: 320px;
        margin-right: 0px;
    }
  

}

@media (max-width: 480px) {
    .hero {
        height: 40vh;
    }
    .hero-left{
        padding-left: 40px;
    }
    .hero-left h2 {
        font-size: 10px;
        font-weight: 600;
    }
    .hero-left p {
        font-size: 15px;
        font-weight: 400;
    }
    .hero-left-btn {
    width: 100px;
    height: 30px;
    font-size: 13px;
    }
    .hero-right img {
        height: 320px;
    }
}